body{
background-image: url('../img/fullbg.png');
}

/* this has stuff before it */

#saltybutton, #sarkybutton, #wholesomebutton {
	background-color: white;
    border: none;
    color: #a72224;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
	}

/*none of this works*/

#onethird, #twothird, #threethird {
	float: left;
	text-align: center;
	background-color: black;
	margin: 20px;
	padding:30px;
	height: 600px;
	width: 300px;
	position: relative;
	top: 900px;
}

#saltIcon, #sarcasmIcon, #wholesomeIcon {
	margin: 50px;
	display: inline-block;
	position: relative;

}

.desc {
	color: white;
	position: relative;
	padding: 20px;
	height: auto;
	overflow: auto;
}

#saltstat, #sarstat, #wholestat {
	position: relative;
	float: left;
	top: 1180px;
}
