body{
background-image: url('../img/fullbg.png');
}

/* this has stuff before it */

#saltybutton, #sarkybutton, #wholesomebutton {
	background-color: white;
    border: none;
    color: #a72224;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
/*none of this works*/

#onethird, #twothird, #threethird {
	float: left;
	background-color: black;
	margin: 20px;
	height: 600px;
	width: 350px;
	position: relative;
	top: 900px;
}